<div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-1 col-md-1">
          <div class="icon-big text-center icon-warning">
            <i class={{type}}></i>
          </div>
        </div>
        <div class="col-11 col-md-11">
          <div class="numbers">
            <i class="nc-icon nc-simple-remove" (click)="onDelete(id)"></i>
            <p class="card-title">{{nom}}</p>
            <p class="card-category">{{description}}
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      
      <div class="stats">
          
          <i class={{classFooter}}></i> {{textFooter}} {{dateFooter | date}}
      </div>
    </div>
  </div>