<div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class={{iconHeader}}></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">{{title}}</p>
            <p class="card-title">{{ figure | number:'1.0-3' }} {{unity}}
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
          <i class={{classFooter}}></i> {{textFooter}} {{dateFooter | date}}
      </div>
    </div>
  </div>